{% extends "minesweeper/base.html" %}
{% load i18n %}

{% block headblock %}


        {% load static %}
        <link rel="stylesheet" href="{% static 'minesweeper/css/style.css' %}">

        <link rel="preload" href="{% static 'minesweeper/images/cell-0.svg'%}" as="image">
        <link rel="preload" href="{% static 'minesweeper/images/cell-1.svg' %}" as="image">
        <link rel="preload" href="{% static 'minesweeper/images/cell-2.svg' %}" as="image">
        <link rel="preload" href="{% static 'minesweeper/images/cell-3.svg' %}" as="image">
        <link rel="preload" href="{% static 'minesweeper/images/cell-4.svg' %}" as="image">
        <link rel="preload" href="{% static 'minesweeper/images/cell-5.svg' %}" as="image">
        <link rel="preload" href="{% static 'minesweeper/images/cell-6.svg' %}" as="image">
        <link rel="preload" href="{% static 'minesweeper/images/cell-7.svg' %}" as="image">
        <link rel="preload" href="{% static 'minesweeper/images/cell-8.svg' %}" as="image">
        <link rel="preload" href="{% static 'minesweeper/images/cell-closed.svg' %}" as="image">
        <link rel="preload" href="{% static 'minesweeper/images/cell-flagged.svg' %}" as="image">
        <link rel="preload" href="{% static 'minesweeper/images/cell-flagged-wrong.svg' %}" as="image">
        <link rel="preload" href="{% static 'minesweeper/images/cell-mine.svg' %}" as="image">
        <link rel="preload" href="{% static 'minesweeper/images/cell-mine-exploded.svg' %}" as="image">

        <style>
            #board {
              display: grid;
              grid-template-columns: repeat({{ difficulty_settings.width }} , {{ difficulty_settings.cell_width }});
              grid-template-rows: repeat({{ difficulty_settings.height }}, {{ difficulty_settings.cell_width }});
              gap: 0;
              border: 2px solid #7b7b7b;
              width: fit-content;
              user-select: none;
            }

            .panel{
                display: flex;
                background: #c0c0c0;
                flex: 1;
                height: calc(25px*2);
                justify-content: space-between;
                align-items: center;
            }

            .image-button {
                background: none; /* Remove default background */
                border: none; /* Remove default border */
                padding: 0; /* Remove default padding */
                margin: 0; /* Remove default margin */
                cursor: pointer; /* Change cursor to pointer */
            }

            .image-button img {
                display: block; /* Remove inline spacing */
                width: 100%; /* Optional: Set the image width */
                height: auto; /* Optional: Maintain aspect ratio */
            }

            .counter{

            }

            .border_corners{
                display: flex;
                flex-direction: row;
                align-items: stretch;
            }

            .border_hor{
                height: calc(11/16 * 25px);
                width: auto;
                flex: 1;
                background-size: 100% 100%;

                background-image: url("{% static 'minesweeper/images/border-hor.png' %}");
            }

            .border_vert{
                width: calc(11/16 * 25px);
                max-width: calc(11/16 * 25px);
                height: auto;
                flex: 1;
                background-size: 100% 100%;

                background-image: url("{% static 'minesweeper/images/border-vert.png' %}");
            }

            .corner_top_left{
                width: calc(11/16 * 25px);
                height: calc(11/16 * 25px);
                background-size: 100% 100%;

                background-image: url("{% static 'minesweeper/images/corner-top-left.png' %}");
            }

            .corner_top_right{
                width: calc(11/16 * 25px);
                height: calc(11/16 * 25px);
                background-size: 100% 100%;

                background-image: url("{% static 'minesweeper/images/corner-top-right.png' %}");
            }

            .t_left{
                width: calc(11/16 * 25px);
                height: calc(11/16 * 25px);
                background-size: 100% 100%;

                background-image: url("{% static 'minesweeper/images/t-left.png' %}");
            }

            .t_right{
                width: calc(11/16 * 25px);
                height: calc(11/16 * 25px);
                background-size: 100% 100%;

                background-image: url("{% static 'minesweeper/images/t-right.png' %}");
            }

            .corner_bottom_left{
                width: calc(11/16 * 25px);
                height: calc(11/16 * 25px);
                background-size: 100% 100%;

                background-image: url("{% static 'minesweeper/images/corner-bottom-left.png' %}");
            }

            .corner_bottom_right{
                width: calc(11/16 * 25px);
                height: calc(11/16 * 25px);
                background-size: 100% 100%;

                background-image: url("{% static 'minesweeper/images/corner-bottom-right.png' %}");
            }
        </style>

    {% endblock %}

{% block maincontent %}

<div class="game-container ">
    <div id="timer">0.000</div>
    <div id="game">
        <div class="top_part">
            <div class="border_corners">
                <div class="corner_top_left"></div><div class="border_hor"></div><div class="corner_top_right"></div>
            </div>
            <div class="border_corners">
                <div class="border_vert"></div>
                    <div class="panel">
                        <div id="mine_counter" class="counter">mines</div>
                        <button class="image-button">
                            <img src="{% static 'minesweeper/images/face-unpressed.png' %}">
                        </button>
                        <div if="seconds_counter" class="counter">seconds</div>
                    </div>
                <div class="border_vert"></div>
            </div>
        </div>
        <div class="border_corners">
            <div class="t_left"></div><div class="border_hor"></div><div class="t_right"></div>
        </div>
        <div class="border_corners">
            <div class="border_vert"></div>
            <div id="board">

            </div>
            <div class="border_vert"></div>
        </div>
        <div class="border_corners">
            <div class="corner_bottom_left"></div><div class="border_hor"></div><div class="corner_bottom_right"></div>
        </div>

    </div>

    <button id="toggleButton" class="btn btn-primary d-inline">Fast Mode: OFF</button>

</div>



{% endblock %}

{% block scriptblock %}
    <script>
        const socket = new WebSocket('ws://localhost:8000/ws/game/' + '{{ difficulty_settings.name }}');
        let firstClick = true;
        let startTime = null;
        let timerRunning = false;

        // Function to get a cookie value by name
        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);
            if (parts.length === 2) return parts.pop().split(';').shift();
            return null;
        }

        function setCookie(name, value, days) {
            const date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            const expires = `expires=${date.toUTCString()}`;
            document.cookie = `${name}=${value}; ${expires}; path=/`;
        }


        let fastMode = getCookie('fastMode') === 'true';


        const fastModeButton = document.getElementById('toggleButton');

        fastModeButton.textContent = `Fast Mode: ${fastMode ? "ON" : "OFF"}`;

        // Add click event listener
        fastModeButton.addEventListener('click', () => {
            // Toggle the boolean value
            fastMode = !fastMode;

            // Update the button text
            fastModeButton.textContent = `Fast Mode: ${fastMode ? "ON" : "OFF"}`;
            setCookie('fastMode', fastMode, 7);
        });


        let user_board_dict = {
            "c": "cell-closed",
            "0": "cell-0",
            "f": "cell-flagged",
            "fw": "cell-flagged-wrong",
            "m": "cell-mine",
            "me": "cell-mine-exploded",
            "1": "cell-1",
            "2": "cell-2",
            "3": "cell-3",
            "4": "cell-4",
            "5": "cell-5",
            "6": "cell-6",
            "7": "cell-7",
            "8": "cell-8",
            "pressed": "cell-pressed"
        }

        socket.onopen = function (e) {
            console.log("WebSocket Connected!");

        };

        socket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            let user_board = JSON.parse(data["message"])
            user_board = user_board.map(row =>
                row.map(cell => user_board_dict[cell])
            )
            //console.log(user_board)
            render_user_board(user_board)
            let gameOver = data["over"];
            if(gameOver){
                timerRunning = false;
                let timeSpent = data["time"]/1000;
                console.log(timeSpent);
                document.getElementById("timer").innerHTML = timeSpent.toString();
            }

        };

        socket.onclose = function (e) {
            console.log("WebSocket Disconnected!");
        };

        function render_user_board(user_board){
            const board = document.getElementById("board");
            board.innerHTML = '';
            for(let i = 0; i < user_board.length; i++){
                for(let j = 0; j < user_board[0].length; j++){
                    let cell = document.createElement("div");
                    cell.id = "id" + i + "-" + j;
                    cell.className = "cell " + user_board[i][j];

                    cell.addEventListener("mousedown",cellMouseDown);
                    cell.addEventListener("mouseup",cellMouseUp);
                    cell.addEventListener("mouseover",cellMouseOver);
                    cell.addEventListener("mouseleave",cellMouseLeave);
                    cell.addEventListener("contextmenu",cellRightClicked);

                    board.appendChild(cell)
                }
            }
        }

        let leftPressed = false;
        function cellMouseDown(event){
            if(event.button !== 0) {
                return;
            }
            leftPressed = true;
            if(event.button === 0 && !this.classList.contains(user_board_dict["f"]) && !this.classList.contains(user_board_dict["0"])){
                this.classList.add(user_board_dict["pressed"]);
            }

        }

        function cellMouseOver(event){
            event.preventDefault();
            if(leftPressed){
                this.classList.add(user_board_dict["pressed"]);
            }
        }

        function cellMouseLeave(event){
            event.preventDefault();
            if(this.classList.contains(user_board_dict["pressed"])){
                this.classList.remove(user_board_dict["pressed"]);
            }
        }

        function cellMouseUp(event){
            if(event.button !== 0) {
                return;
            }
            leftPressed = false;

            if(this.classList.contains(user_board_dict["0"])){
                return;
            }

            if(fastMode && this.classList.contains(user_board_dict["c"]) || this.classList.contains(user_board_dict["f"])){
                const message = JSON.stringify({
                btn: "r",
                message: this.id.replace(/^id/,"")
                })
                socket.send(message)
            }
            else {
                const message = JSON.stringify({
                btn: "l",
                message: this.id.replace(/^id/,"")
                })
                socket.send(message)
            }


            if(!fastMode && firstClick){
                startTime =  performance.now()
                timerRunning = true;
                timer();
                firstClick = false;
            }
        }

        function cellRightClicked(event){
            event.preventDefault();
            if(!this.classList.contains(user_board_dict["0"])){
                this.classList.toggle(user_board_dict["c"]);
                this.classList.toggle(user_board_dict["f"]);

            if(!fastMode){
                const message = JSON.stringify({
                btn: "r",
                message: this.id.replace(/^id/,"")
                })
                socket.send(message)
            }
            else {
                const message = JSON.stringify({
                btn: "l",
                message: this.id.replace(/^id/,"")
                })
                socket.send(message)
            }

            if(fastMode && firstClick){
                startTime =  performance.now()
                timerRunning = true;
                timer();
                firstClick = false;
            }

            }
        }


        function timer() {
            if(!timerRunning){
                return;
            }
            const now = performance.now();
            const elapsed = (now - startTime) / 1000;
            document.getElementById("timer").textContent = elapsed.toFixed(3);
            requestAnimationFrame(timer); // Continuously update the timer
        }


    </script>
{% endblock %}